@import "variables";
$font-size : 18px;

.navbar {
  padding: 40px 20px;
  font-size: $font-size;
  box-shadow: 0 8px 8px -4px #1987546e;
  position: fixed;
  top: 0;
  width: 100%;

  .form-control{
    width: 340px;
    height: 45px;
    margin-left: 60px;
  }

  .navbar-brand{
    font-size: 35px;
    font-family: $logo-font;
    color: $green-generic;
  }

  .nav-link{
    margin-right: 15px;
    color: $green-generic !important;
  }

  .fa-store-alt{
    color: $green-generic;
  }

  .fa-heart:hover{
    color: red;
  }

  .fa-envelope:hover{
    color: blue;
  }
}
