.product-listing-container{
  margin-top: 4vh;

  aside{
    height: 50vh;
  }
}

.view-product{
  text-decoration:none;
   color:inherit;
}

.product{
  height: 250px;
  margin-left: 10px;
  min-width: 280px;
  cursor: pointer;

  img {
    width: 90%;
    max-height: 200px;
  }

  &:hover {
    background-color: #f7f7f7;
    color:inherit;
  }

  .price{
    text-align: end;
    color: green;
  }

  .product-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .product-listing-container{
    margin-top: 10vh;
  }
}
